.version.index /* version checker */
{
	color: #000005;
	background-color: #526A6B;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1432px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 50px;
	width: 0.01px;/* should not cover content below */
}

#top
{
	margin-left: 487px;
	position: relative;
}

#pu6363
{
	width: 0.01px;
	margin-left: 200px;
	margin-top: 70px;
}

#u6363
{
	z-index: 22;
	width: 740px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#slideshowu6396
{
	z-index: 30;
	width: 0.01px;
	height: 693px;
	position: relative;
	margin-right: -10000px;
}

#u6401
{
	position: absolute;
	width: 740px;
	height: 693px;
	background-color: transparent;
}

#u6401popup
{
	z-index: 31;
}

#u6402
{
	z-index: 32;
	width: 740px;
	height: 693px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u6455
{
	z-index: 34;
	width: 740px;
	height: 693px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u6482
{
	z-index: 36;
	width: 740px;
	height: 693px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u6536-6
{
	z-index: 38;
	width: 675px;
	min-height: 239px;
	background-color: transparent;
	padding-left: 0px;
	visibility: inherit;
	position: relative;
	margin-right: -10000px;
	margin-top: 124px;
	left: 43px;
}

#u6536-6 > *
{
	padding-left: -10px;
}

#u6545-4
{
	z-index: 44;
	width: 592px;
	min-height: 24px;
	background-color: transparent;
	color: #3E3E3E;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 4px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 88px;
	left: 69px;
}

#u6554
{
	z-index: 48;
	width: 399px;
	height: 28px;
	background-color: #FFFFFF;
	opacity: 0.71;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=71)";
	filter: alpha(opacity=71);
	position: relative;
	margin-right: -10000px;
	margin-top: 369px;
	left: 61px;
}

#u6546-4
{
	z-index: 49;
	width: 592px;
	min-height: 22px;
	background-color: transparent;
	color: #7A7A7A;
	font-size: 13px;
	line-height: 16px;
	letter-spacing: 6px;
	text-align: left;
	font-family: josefin-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 376px;
	left: 69px;
}

#pu175-4
{
	width: 0.01px;
	padding-bottom: 393px;
	margin-left: 20px;
	margin-top: -603px;
}

#u175-4
{
	z-index: 53;
	width: 161px;
	min-height: 27px;
	position: fixed;
	bottom: 296px;
	left: 120px;
}

#menuu205
{
	z-index: 57;
	width: 161px;
	position: fixed;
	bottom: 103px;
	left: 120px;
}

#u206
{
	width: 161px;
	position: relative;
}

#u209
{
	width: 161px;
	min-height: 17px;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
}

#u209:hover
{
	width: 161px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u209:active
{
	width: 161px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u210-4
{
	width: 161px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 4px;
}

#u209:hover #u210-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u209:active #u210-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u228
{
	width: 161px;
	min-height: 17px;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
}

#u209.MuseMenuActive,#u228:hover
{
	width: 161px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u228:active
{
	width: 161px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u231-4
{
	width: 161px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 4px;
}

#u209.MuseMenuActive #u210-4,#u228:hover #u231-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u228:active #u231-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u243
{
	width: 161px;
	min-height: 17px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
}

#u228.MuseMenuActive,#u243:hover
{
	width: 161px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u243:active
{
	width: 161px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u246-4
{
	width: 161px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 5px;
}

#u228.MuseMenuActive #u231-4,#u243:hover #u246-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u243:active #u246-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u227,#u240,#u253
{
	width: 161px;
	margin-top: 2px;
	position: relative;
}

#u254
{
	width: 161px;
	min-height: 17px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
}

#u243.MuseMenuActive,#u254:hover
{
	width: 161px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u254:active
{
	width: 161px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u254.MuseMenuActive
{
	width: 161px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u256-4
{
	width: 161px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 5px;
}

#u243.MuseMenuActive #u246-4,#u254:hover #u256-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u254:active #u256-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u254.MuseMenuActive #u256-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u591-4
{
	z-index: 82;
	width: 161px;
	min-height: 22px;
	position: fixed;
	bottom: 265px;
	left: 120px;
}

#u5408
{
	z-index: 86;
	width: 103px;
	position: fixed;
	bottom: 357px;
	left: 120px;
}

#pbuttonu6349
{
	width: 0.01px;
	margin-left: 200px;
	margin-top: 58px;
}

#buttonu6349
{
	z-index: 17;
	width: 350px;
	border-width: 0px;
	padding-bottom: 58px;
	position: relative;
	margin-right: -10000px;
	left: 390px;
	background: transparent url("../images/pen_04.jpg") no-repeat center center;
	background-size: cover;
}

#u6360-4
{
	z-index: 18;
	width: 147px;
	min-height: 46px;
	border-style: solid;
	border-width: 5px;
	border-color: #3E3E3E;
	line-height: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 378px;
	left: 97px;
}

#buttonu6349:hover #u6360-4
{
	background-color: #3E3E3E;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	width: 147px;
	margin: 378px -10000px 0px 0px;
}

.Buttons_Style
{
	border-width: 5px;
	border-color: #3E3E3E;
	background-color: transparent;
}

#u6383
{
	z-index: 24;
	width: 350px;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
}

#u6393-4
{
	z-index: 26;
	width: 229px;
	min-height: 46px;
	border-style: solid;
	border-width: 5px;
	border-color: #3E3E3E;
	line-height: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 378px;
	left: 56px;
}

#u6393-4:hover
{
	background-color: #3E3E3E;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	width: 229px;
	margin: 378px -10000px 0px 0px;
}

#buttonu6349:hover #u6360-4 p,#u6393-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1075
{
	z-index: 16;
	width: 62px;
	height: 62px;
	position: fixed;
	-webkit-transform: matrix(0,1,-1,0,62,0);
	-ms-transform: matrix(0,1,-1,0,62,0);
	transform: matrix(0,1,-1,0,62,0);
	bottom: -25px;
	right: 0px;
	background: #F4F4F4 url("../images/arrows-mn_arrow_left.png") no-repeat center center;
}

#u1075:hover
{
	width: 62px;
	height: 62px;
	min-height: 0px;
	margin: 0px;
	background: #3E3E3E url("../images/arrows-mn_arrow_left%20white.png") no-repeat center center;
}

.js #u1075.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u7988
{
	z-index: 11;
	height: 37px;
	width: 36px;
	margin-left: 963px;
	top: -129px;
	margin-bottom: -37px;
	position: relative;
}

#u6512
{
	z-index: 8;
	height: 37px;
	width: 36px;
	margin-left: 963px;
	top: -89px;
	margin-bottom: -37px;
	position: relative;
}

#u8002
{
	z-index: 14;
	height: 37px;
	width: 36px;
	margin-left: 963px;
	top: -49px;
	margin-bottom: -37px;
	position: relative;
}

#u530-4
{
	z-index: 2;
	width: 309px;
	min-height: 21px;
	margin-left: 200px;
	margin-top: 32px;
	position: relative;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
}

